.material {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 15px;
  color: white;
  background-color: black;
  margin: 0 5px;
}

.Rough {
  background-color: #8a3b48;
}
.Dark-Wood {
  background-color: #4b2a1e;
}
.Light-Wood {
  background-color: #4b2a1e;
}

.Red {
  background-color: tomato;
}

.Orange {
  background-color: orange;
  color: black;
}

.Yellow {
  background-color: yellow;
  color: black;
}
.Green,
.Viscose {
  background-color: green;
}

.Blue-Purple {
  background-color: blueviolet;
}
.Leather {
  background-color: #4b2a1e;
}

.Grey,
.Steel {
  background-color: grey;
}

.Velvet {
  background-color: #7d0017;
}
.Corduroy {
  background-color: #a7726f;
}
.Stainless-Steel {
  background-color: steelblue;
}
.Brushed-Nickel {
  background-color: grey;
  color: black;
}
.Steel .Metal {
  background-color: #a3aaac;
  color: black;
}
.Iron {
  background-color: #949e9e;
  color: black;
}
.Reclaimed-Wood {
  background-color: #69553f;
}
.Marble {
  background-color: wheat;
}
.Glass {
  background-color: aqua;
  color: black;
}
.Mirror {
  background-color: aquamarine;
  color: black;
}
.Gold,
.Brass,
.Tech-Suede,
.Dove {
  background-color: gold;
  color: black;
}

.Silver,
.Silver {
  background-color: silver;
  color: black;
}
.Brown {
  background-color: brown;
}
.White,
.White-Ash {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.Glazed-Ceramic-Base-Linen-Shade,
.Foam-Beans,
.Cotton,
.Framboise {
  background-color: coral;
}

.Indian-Wool,
.Fern {
  background-color: purple;
}

.Taupe,
.Suede {
  color: black;
  background-color: pink;
}
