.search-field {
  padding: 20px 2.5vw;
  & input[type="search"] {
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #999;
    display: block;
    width: 100%;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    transition: border-bottom-color 500ms 0s ease-in-out;

    &:focus {
      border-bottom-color: #E9A332;
      color: #E9A332;
    }
  }
}
