.modal-background {
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: black, $alpha: 0.2);
}

.modal {
  z-index: 5;
  background-color: white;
  padding: 40px 40px;
  border-radius: 5px;
  box-shadow: 0px 1px 22px rgba($color: #000000, $alpha: 0.16);
  animation-name: Fade-In;
  animation-duration: 500ms;
}

@keyframes Fade-In {
  from{
    opacity: 0;
    transform: translateY(25px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.active{
    display: flex;
}

.disable{
    display: none;
}
