.input-field {
  & input {
    color: #999;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #999;
    display: block;
    width: 100%;
    outline: none;
    font-size: 16px;
    transition: border-bottom-color 500ms 0s ease-in-out,
      color 500ms 0s ease-in-out;

    &:focus {
      border-bottom-color: #e9a332;
      color: #e9a332;
    }
  }
}
.disable > input {
  background-color: #999;
  border-color: black;
}
