.input-field {
  & input {
    color: #999;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #999;
    display: block;
    width: 100%;
    outline: none;
    font-size: 16px;
    transition: border-bottom-color 500ms 0s ease-in-out,
      color 500ms 0s ease-in-out;

    &:focus {
      border-bottom-color: #e9a332;
      color: #e9a332;
    }
    input:invalid {
      border-bottom: 2px solid red;
      color: red;
      animation: fadeInBorder 200ms;
    }
  }
}

.invalid input {
  border-bottom: 2px solid red;
  color: red;
  animation-name: fadeInBorder;
  animation-duration: 200ms;
}

.disable > input {
  background-color: #999;
  border-color: black;
}

@keyframes fadeInBorder {
  from {
    border-color: currentColor;
  }
  to {
    border-color: red;
  }
}
