.app {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  &:first-child {
    flex-grow: 1;
    max-height: fit-content;
  }
  .body {
    flex-grow: 8;
    flex-basis: 90vh;
  }

  &:last-child {
    flex-grow: 1;
    max-height: fit-content;
  }
}
.divider {
  display: block;
  padding: 20px 5vw;
  background-color: #f5f3ee;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
